header{
    width:100%;
    height:50px;
    background-color: rgba(52, 58, 64,1);
    color: white;
    position: relative;

}
.header-name{
    float:left;
    width: 50%;
    height: 100%;
}
h6{
    margin-left: 3%;
    margin-top: 15px;
    margin-right: 0;
}

.profile{
    float: right;
    margin-right: 3%;
    margin-top: 13px;
    width:10%;
    text-align: center;
}
.menumark{
    float: right;
    margin-right: 3%;
    height: 100%;
    width : 18%;
    background-color: white;
}
.menu-trigger{
    height: 100%;
    width: 100%;
    margin-top: 0;
    text-align: center;
    outline: none;
    border: none;
    background-color: rgba(52, 58, 64,0.8);
    color: white;
}
.opa:hover{
    background-color: rgba(52, 58, 64,0.9);
}
.opa:active{
    background-color: rgba(52, 58, 64,0.8);
}

.menu{
    display: none;
    width: 18%;
    height:30%;
    z-index:2;
    background-color: rgba(236, 238, 241, 1);
    position: absolute;
    top: 50px;
    right: 16%;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 80%;
}
.form{
    width: 100%;
    float:left;
    margin-left:1%;
}
.select{
    width:50%;
}
.submit{
    float: left;
    
}
form{
    margin-top: 10px;
    margin-bottom: 10px;
}
.year{
    width: 40%;
}
.month{
    width: 30%;
}
.swichi-name{
    margin-left: 12px;
}
.str{
    text-align: center;
}
.delete{
    margin: 0 auto;
}
.chart{
    display: none;
}
@media screen and (max-width: 560px){
    .chart{
        width: 100%;
        height: 300px;
    }
}
@media screen and (min-width: 560px){
    .chart{
        width: 100%;
        height: 500Px;
    }
}