.form{
    width: 100%;
}
.weight{
    width: 30%;
}
.rep{
    width: 30%;
}
.submit{
    width: 30%;
    float: left;
}
#button{
    display: none;
}
.heading-max{
    float: left;
    margin-left: 30px;
    color: rgb(31, 61, 51);
}
.record{
    float:left;
    width:55%;
    z-index: 1;
    position: relative;
}
th{
    font-size:80%;
    padding: 0;
}
.form-check-input{
    transform: scale(1.5);
    
}
.form-check{
    margin-left: 10px;
    padding-top: 10px;
    float: left;
}

.member{
    width: 100%;
    height:450px;
    background-color: rgb(176, 179, 182);
}
.member-header{
    background-color: rgb(52, 58, 64);
    width: 100%;
    height:12%;
}
.menumark{
    float:left;
    height: 100%;
    width : 18%;
    background-color: white;
}
.recordmark{
    float:left;
    height: 100%;
    width : 18%;
    background-color: white;
}
.menu-trigger{
    height: 100%;
    width : 100%;
    margin-top: 0;
    outline: none;
    border: none;
    background-color: rgba(52, 58, 64,0.8);
    color: white;
}
.record-trigger{
    height: 100%;
    width : 100%;
    margin-top: 0;
    margin-left: 1%;
    outline: none;
    border: none;
    background-color: rgba(52, 58, 64,0.8);
    color: white;
}
.opa:hover{
    background-color: rgba(52, 58, 64,0.9);
}
.opa:active{
    background-color: rgba(52, 58, 64,0.8);
}

.menu{
    display: none;
    width: 32.73%;
    height: 80%;
    z-index:2;
    background-color: rgba(236, 238, 241, 1);
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 80%;
}
.record-menu{
    display: none;
    width: 32.55%;
    height: 80%;
    z-index:2;
    background-color: rgba(236, 238, 241, 1);
    position: absolute;
    top: 0;
    left: 33%;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 80%;
}

.profile{
    height: 100%;
    color: white;
    font-size: 80%;
    float: right;
    margin-right: 7%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.profilename{
    margin-right: 5px;
}
.center{
    text-align: center;
}
.text{
    width: 100%;
    height: 80%;
    border:2px solid rgb(33, 33, 34);
    margin: 0 auto;
    margin-top: 2%;
    border-radius: 0.67em; 
    padding-top: 3%;
    
}
.tr_menu{
    width: 45%;
    float:right;
    padding-left: 3%;
    padding-right: 5%; 
    
}
.tr_menu_header{
    text-align: center;
    padding-top: 3%;
    border-bottom:2px solid black;
}